.type-content-wrapper {
  button {
    @apply bg-transparent  border-2 border-primary text-text_primary   
     hover:bg-slate-100
    active:opacity-60 active:shadow-none 
    dark:text-text_primary_dark dark:border-text_primary_dark dark:bg-dark;

    &.active {
      @apply bg-primary text-white hover:bg-indigo-400 dark:bg-slate-200 dark:text-slate-800 dark:hover:bg-slate-100 dark:active:bg-slate-300 border-transparent;
    }
  }
}
.filter-content-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
  button {
    @apply bg-transparent mr-4 border-2 border-secondary text-text_primary rounded-2xl px-5
     hover:bg-slate-100 mt-4 
    active:opacity-60 active:shadow-none 
    dark:text-text_primary_dark dark:border-text_primary_dark dark:bg-dark;

    &.active {
      @apply bg-secondary text-white hover:bg-opacity-90 dark:bg-slate-200 dark:text-slate-800 dark:hover:bg-slate-100 dark:active:bg-slate-300 border-transparent;
    }
  }
}
