.card-movie {
  @apply h-auto w-1/6 rounded-xl bg-white p-2 shadow-xl pb-4
  dark:bg-slate-100;
  .image-wrapper {
    @apply w-full h-56 rounded-xl overflow-hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
